<h1><%= @movie.title %></h1>
<ul>
  <li><%= display_critic_rating_average_for @movie %></li>
  <li><%= display_user_rating_average_for @movie %> </li>
  <li><%= @movie.mpaa_rating %></li>
  <li><%= @movie.release_date %></li>
  <li><%= @movie.runtime %> minutes</li>
  <li><%= @movie.synopsis %></li>
</ul>
<ul>
  <p>Critic Reviews</p>
    <% @reviews.each do |review| %>
      <% if review.reviewer.critic? %>
      <li>Author: <%= review.reviewer.username %></li>
      <li><%= link_to truncate(review.body, length: 30), [@movie, review] %></li>
      <% end %>
    <% end %>
    <span><%= link_to "All critic reviews", [@movie, :reviews] %></span>
</ul>

<ul>
  <p>User Reviews</p>
    <% @reviews.each do |review| %>
      <% if review.reviewer.user? %>
      <li>Author: <%= review.reviewer.username %></li>
      <li><%= link_to truncate(review.body, length: 30), [@movie, review] %></li>
      <% end %>
    <% end %>
</ul>

<div id="rating-form">
  <%= render 'ratings/form' %>
</div>

<!--  <li><!-- %= link_to "truncate(review.body, length: 30)", review %></li> -->
