<nav>
  <ul>
   <li><%= link_to 'Home', root_path %></li>
   <% if current_user && current_user.is_admin? %>
    <li><a href="#"><%= current_user.name %> (admin)</a></li>
   <% elsif current_user && current_user.is_critic? %>
	<li><a href="#"><%= current_user.name %></a></li>
   <% elsif current_user && current_user.is_user? %>
    <li><a href="#"><%= current_user.username %></a></li>
   <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Register', new_user_registration_path %></li>
   <% end %>
   <% if current_user %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
   <% end %>
  </ul>   
</nav>
