<div class="sidebar">
  <ul>
    <li>
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
    </li>
  </ul>
  <ul>
    <li>REVIEWS</li>
    <li>Top Critic</li>
    <li>Top User</li>
    <li>Recent</li>
  </ul>
  <ul>
    <li>CATEGORIES</li>
    <li>Comedy</li>
    <li>Drama</li>
    <li>Action</li>
    <li>Romance</li>
  </ul>
  <ul class="user-links">
  <% if current_user && current_user.admin? %>
    <li><a href="#"><%= current_user.name %> (admin)</a></li>
  <% elsif current_user && current_user.critic? %>
    <li><a href="#"><%= current_user.name %> (critic)</a></li>
  <% elsif current_user && current_user.user? %>
    <li><a href="#"><%= current_user.username %></a></li>
  <% else %>
    <li><%= link_to 'Sign In', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <% end %>
  <% if current_user %>
    <li><%= link_to 'Log Out', destroy_user_session_path, :method => 'delete' %></li>
  <% end %>
  </ul>
</div>
