<!DOCTYPE html>
<html>
<head>
  <title>FreshCabbage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'layouts/nav' %>
      <!-- recommended by devise -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'search/form' %>

</body>
</html>
