<!DOCTYPE html>
<html>
<head>
  <title>FreshCabbage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<input type="checkbox" id="sidebartoggler" name="" value="">

<div class="page-wrap">

  <label for="sidebartoggler" class="toggle">☰</label>

  <div class="page-content">
    <%= yield %>
  </div>

  <%= render partial: "layouts/sidebar" %>
</div>
</body>
</html>
